body{
  font-family: Garamond, Georgia, sans-serif;
  background-color: #FFDEAD
}
#pageLogo {
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

}
#headerID{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  min-height: 8vh;
  background-color: #FFDEAD;
  font-family: Garamond, sans-serif;
  font-size: 1.5em;
  list-style-type: none;
}
#signup{
  margin-right: auto;
  padding-right: 1em;
}
#headerID ul{
  color: #FF8C00;
  font-size: 1em;
  list-style: none;
  font-family: Garamond;
  text-decoration: none;
}
#aboutUsTitle h1, h3{
  text-align: left;
  font-family: Garamond;
  font-style: italic;
}
#aboutUsLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#aboutUsText {
  font-size: 1.2em;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.4s;
}
#boxContent {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 0px #888888;
  background-color: #eee;
  width: 20%;
}

.postTitle  {
  margin-top: 2em;
  resize: none;
}

textarea {
  resize: both;
  height: 200px;
  width: 600px;
  margin-left: 3em;
  margin-bottom: 3em;
  margin-top: 3em
}

#SDN {
  margin-left: 3em;
}
#VPN {
  margin-left: 2em;
}
#WIRELESS {
  margin-left: 2em;
}

input[type=submit] {
  width: auto;
  background-color: #333333 ;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 1em;
  padding: 1em;
  margin-left: 10em;
  
}

button[type=submit] {
  width: auto;
  background-color: #333333 ;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 1em;
  padding: 1em;
  margin-left: auto;
}

.otherPages {
  margin-top: 5em;
  margin-right: 5em;
}
#footer {
  margin-top: 5em;
  background-color: #2a2f33;
  color: white;
  width: 100%;
  padding: 1em;
  margin-right: 1em;

  height: 1em;
}

#footer p {
  margin: 0;
}